:root {
  --background: oklch(0.288 0.022 277.5);
  --foreground: oklch(0.977 0.008 106.5);
  --card: oklch(0.255 0.019 280.5);
  --card-foreground: oklch(0.977 0.008 106.5);
  --popover: oklch(0.255 0.019 280.5);
  --popover-foreground: oklch(0.977 0.008 106.5);
  --primary: oklch(0.742 0.149 301.9);
  --primary-foreground: oklch(0.22 0.014 278.8);
  --secondary: oklch(0.403 0.032 277.8);
  --secondary-foreground: oklch(0.977 0.008 106.5);
  --muted: oklch(0.255 0.019 280.5);
  --muted-foreground: oklch(0.56 0.08 270.1);
  --accent: oklch(0.403 0.032 277.8);
  --accent-foreground: oklch(0.977 0.008 106.5);
  --destructive: oklch(0.682 0.206 24.4);
  --destructive-foreground: oklch(0.977 0.008 106.5);
  --border: oklch(0.403 0.032 277.8);
  --input: oklch(0.403 0.032 277.8);
  --ring: oklch(0.742 0.149 301.9);
  --chart-1: oklch(0.755 0.183 346.8);
  --chart-2: oklch(0.742 0.149 301.9);
  --chart-3: oklch(0.883 0.093 212.8);
  --chart-4: oklch(0.871 0.22 148);
  --chart-5: oklch(0.955 0.134 112.8);
  --sidebar: oklch(0.255 0.019 280.5);
  --sidebar-foreground: oklch(0.977 0.008 106.5);
  --sidebar-primary: oklch(0.742 0.149 301.9);
  --sidebar-primary-foreground: oklch(0.22 0.014 278.8);
  --sidebar-accent: oklch(0.403 0.032 277.8);
  --sidebar-accent-foreground: oklch(0.977 0.008 106.5);
  --sidebar-border: oklch(0.403 0.032 277.8);
  --sidebar-ring: oklch(0.742 0.149 301.9);
  --radius: 0.5rem;
}
