:root {
  --background: oklch(0.2479 0.0058 271.2);
  --foreground: oklch(0.9364 0.0046 258.3);
  --card: oklch(0.2852 0.0056 271.2);
  --card-foreground: oklch(0.9364 0.0046 258.3);
  --popover: oklch(0.2852 0.0056 271.2);
  --popover-foreground: oklch(0.9364 0.0046 258.3);
  --primary: oklch(0.8878 0.1394 90.6);
  --primary-foreground: oklch(0.2479 0.0058 271.2);
  --secondary: oklch(0.3133 0.0055 271.2);
  --secondary-foreground: oklch(0.9364 0.0046 258.3);
  --muted: oklch(0.2852 0.0056 271.2);
  --muted-foreground: oklch(0.7028 0.0111 248);
  --accent: oklch(0.3133 0.0055 271.2);
  --accent-foreground: oklch(0.9364 0.0046 258.3);
  --destructive: oklch(0.7449 0.1269 25.8);
  --destructive-foreground: oklch(0.2479 0.0058 271.2);
  --border: oklch(0.3688 0.0074 240);
  --input: oklch(0.3688 0.0074 240);
  --ring: oklch(0.8878 0.1394 90.6);
  --chart-1: oklch(0.7744 0.1039 152.2);
  --chart-2: oklch(0.7661 0.1083 259.8);
  --chart-3: oklch(0.8878 0.1394 90.6);
  --chart-4: oklch(0.7347 0.1651 307.3);
  --chart-5: oklch(0.7449 0.1269 25.8);
  --sidebar: oklch(0.2479 0.0058 271.2);
  --sidebar-foreground: oklch(0.9364 0.0046 258.3);
  --sidebar-primary: oklch(0.8878 0.1394 90.6);
  --sidebar-primary-foreground: oklch(0.2479 0.0058 271.2);
  --sidebar-accent: oklch(0.3133 0.0055 271.2);
  --sidebar-accent-foreground: oklch(0.9364 0.0046 258.3);
  --sidebar-border: oklch(0.3688 0.0074 240);
  --sidebar-ring: oklch(0.8878 0.1394 90.6);
  --radius: 0.5rem;
}
