:root {
  --background: oklch(0.985 0 180);
  --foreground: oklch(0.301 0 189.462);
  --card: oklch(0.97 0 180);
  --card-foreground: oklch(0.248 0 173.29);
  --popover: oklch(0.962 0 180);
  --popover-foreground: oklch(0.193 0 164.055);
  --primary: oklch(0.792 0.076 187.715);
  --primary-foreground: oklch(0.172 0.016 187.914);
  --secondary: oklch(0.412 0.044 187.35);
  --secondary-foreground: oklch(0.902 0.025 189.451);
  --muted: oklch(0.919 0.007 17.278);
  --muted-foreground: oklch(0.404 0.025 18.259);
  --accent: oklch(0.869 0 165.964);
  --accent-foreground: oklch(0.351 0 167.471);
  --destructive: oklch(0.474 0.174 30.516);
  --destructive-foreground: oklch(0.961 0.017 25.139);
  --border: oklch(0.947 0 180);
  --input: oklch(0.923 0 164.055);
  --ring: oklch(0.792 0.076 187.715);
  --chart-1: oklch(0.792 0.076 187.715);
  --chart-2: oklch(0.412 0.044 187.35);
  --chart-3: oklch(0.869 0 165.964);
  --chart-4: oklch(0.445 0.049 187.304);
  --chart-5: oklch(0.797 0.08 187.568);
  --sidebar: oklch(0.97 0 180);
  --sidebar-foreground: oklch(0.301 0 189.462);
  --sidebar-primary: oklch(0.792 0.076 187.715);
  --sidebar-primary-foreground: oklch(0.172 0.016 187.914);
  --sidebar-accent: oklch(0.869 0 165.964);
  --sidebar-accent-foreground: oklch(0.351 0 167.471);
  --sidebar-border: oklch(0.947 0 180);
  --sidebar-ring: oklch(0.792 0.076 187.715);
}
