:root {
  --background: oklch(0.1822 0 89.9);
  --foreground: oklch(1 0 89.9);
  --card: oklch(0.209 0 89.9);
  --card-foreground: oklch(1 0 89.9);
  --popover: oklch(0.209 0 89.9);
  --popover-foreground: oklch(1 0 89.9);
  --primary: oklch(0.7697 0.2124 148.7);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2603 0 89.9);
  --secondary-foreground: oklch(1 0 89.9);
  --muted: oklch(0.209 0 89.9);
  --muted-foreground: oklch(0.7284 0 89.9);
  --accent: oklch(0.2603 0 89.9);
  --accent-foreground: oklch(1 0 89.9);
  --destructive: oklch(0.5931 0.2338 25.4);
  --destructive-foreground: oklch(1 0 89.9);
  --border: oklch(0.2809 0 89.9);
  --input: oklch(0.2809 0 89.9);
  --ring: oklch(0.7697 0.2124 148.7);
  --chart-1: oklch(0.7697 0.2124 148.7);
  --chart-2: oklch(0.6177 0.1375 254.6);
  --chart-3: oklch(0.6994 0.1818 47.6);
  --chart-4: oklch(0.5315 0.2036 336.9);
  --chart-5: oklch(0.5931 0.2338 25.4);
  --sidebar: oklch(0.1822 0 89.9);
  --sidebar-foreground: oklch(1 0 89.9);
  --sidebar-primary: oklch(0.7697 0.2124 148.7);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.2603 0 89.9);
  --sidebar-accent-foreground: oklch(1 0 89.9);
  --sidebar-border: oklch(0.2809 0 89.9);
  --sidebar-ring: oklch(0.7697 0.2124 148.7);
  --radius: 0.5rem;
}
